<!DOCTYPE html>
<h1 class="animated fadeIn fast">About Comic App</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus suscipit numquam, voluptatibus delectus modi saepe esse recusandae nesciunt fugiat rerum tempore quae corrupti praesentium quidem consectetur tenetur ipsa cupiditate eius! Illo accusamus
    totam eveniet incidunt dolores exercitationem quisquam et in laudantium, minima, ex, cum quod ea atque omnis dolorem dignissimos magnam? Quam tempore reprehenderit aperiam numquam quos illo consequuntur repudiandae! Eveniet, porro. Laborum dicta fugit
    repellat exercitationem qui pariatur minus impedit fugiat a eos error velit tempora recusandae blanditiis maxime modi, temporibus, ducimus, quos provident veniam? Nostrum, facere. In, accusamus. Iusto repudiandae cupiditate, reiciendis facere nisi
    totam. Assumenda nihil eius tempora, aliquam magnam, reprehenderit quam molestiae aperiam voluptatibus et, nam eum tenetur! Soluta doloremque, totam nihil reprehenderit ullam inventore veniam. Harum sequi perspiciatis nam natus deleniti quo explicabo
    laborum voluptatibus quibusdam, doloribus qui necessitatibus. Cupiditate consequuntur voluptatum ut accusantium, magnam error porro illo. Earum nobis doloribus fugiat quos velit repudiandae. Temporibus nobis doloribus quam quisquam alias adipisci
    expedita quidem itaque. Numquam iusto aliquid ducimus modi repudiandae earum doloremque beatae? In, libero? Repellat amet excepturi minus veniam! Itaque dicta asperiores earum.
</p>